// Styling overrides specific to paragraphs selectors.

@import '../../global/utils/init';

.rain-admin-theme {

  // Hide on unused bullet on paragraphs library page.
  .paragraph-bullet {
    display: none;
  }

  .paragraph-type-label {
    font-style: italic;
  }

  // Typical dragable table display of paragraphs.
  .field-multiple-table--paragraphs {

    thead {
      // Hide label and sort button.
      .label,
      .tabledrag-toggle-checkbox-wrapper {
        display: none;
      }
    }

    td .paragraph-form-item {
      margin: 0;
      padding: 0;
    }

    td .paragraph-form-item > .paragraphs-subform {
      margin: 0;
    }

    td .paragraph-form-item > .paragraph-form-item__actions {
      align-items: center;
      align-self: unset;
      font-size: 1rem;
      justify-content: flex-end;
      margin: 0;

      .paragraphs-description::after {
        display: none;
      }

      .paragraphs-description .paragraphs-content-wrapper::after {
        display: none;
      }
    }
  }

  // Save/Remove buttons on paragraph listings.
  .paragraphs-actions {
    margin-bottom: 5px;

    .button + .button {
      margin-left: 10px;
    }

    .paragraphs-dropdown-toggle {
      padding-top: 10px;
      position: relative;
      top: 5px;
    }

    .paragraphs-dropdown-actions {
      top: 43px;

      .button,
      .button:focus,
      .button:hover {
        background-color: $color-faint-gray;
        border-color: $color-faint-gray;
        color: $color-mid-gray;
        padding: 15px 25px;
        margin-left: 0 !important;
      }
    }
  }

  .paragraphs-add-wrapper.button {
    margin-left: 60px;
    margin-top: 30px;
  }

  // Wrapper for preview of paragraphs on
  // node edit form.
  .paragraph-form-item__preview {
    border: 1px solid $color-blue-gray;
    border-radius: 2px;
    margin: 15px 0;
    padding: 20px 30px;
    position: relative;

    &::after {
      background-image: linear-gradient(0deg, rgba($color-white, 1) 0%, rgba(0, 0, 0, 0) 75%);
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: $zi-low;
    }
  }

  .paragraph__empty-message {
    font-size: 1rem;
  }

  .paragraphs-browser-paragraph-type {

    .button {
      position: absolute;
    }

    div {
      margin-bottom: 2rem;
    }
  }

  .paragraphs-features__delete-confirmation {

    .button {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
