// Table styling.

// Import site utilities.
@import '../../global/utils/init';

// stylelint-disable
table {

  tbody tr:hover {
    background-color: $color-offwhite;
  }

  &.ief-entity-table{
    tr{
      td:not([class]){
        &>div.table__cell-wrapper{
          &>div.ief-entity-operations{
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            display: grid;
            grid-gap: 2px;
            
            input[type='submit']{
              margin: 0px;
            }

            input[type='submit'] + div.ajax-progress{
              grid-column: 1 / -1;
            }
          }
        }
      }
    }
  }
}
  

// stylelint-enable
